:root {
    --color1: #EBB210;
    --color2: #04d5FA;
    --color3: #7c8494;
    --color4: rgb(206, 20, 101);
}

/* TOPBAR */
.topbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--color1);
    padding: 1rem;
}

.topbar ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    list-style-type: none;
}

.topbar i {
    color: var(--color2);
}

.topbar .social-links {
    font-size: 1.5rem;

}

/* NAVBAR */
.navbar {
    font-size: 1.2rem;
}

.navbar ul a {
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.navbar ul a:hover {
    background-color: var(--color1);
}

@media (max-width: 570px) {
    .navbar-brand img {
        width: 250px;
    }
}
/* SLIDER */

.carousel-caption {
    position: absolute;
    top: 40%;
    bottom: auto;
    left: 8rem;
    right: auto;
    color:black;
    text-align: Left !important;
    padding-left: 1rem;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;

}

.carousel-control-prev,
.carousel-control-next {
    align-items: flex-end;
}

.carousel-control-prev {
    right: 5rem;
    left: auto;
}
.carousel-caption h5{
    font-size:2.5rem;
    border-left: 1rem solid var(--color4);
   padding-left: 0.5rem;
}
.carousel-caption p{
    font-size:1.25rem
}
/* CARDS */
.why-us{
    position:relative;
    text-align:center;
    z-index:2;
    top:-100px;
}
.why-us i{
    font-size:2rem;
    color: var(--color4);
}
.why-us div[class^="col"]:nth-child(1) .card {
    background-color: var(--color1);
}

/* VIEWS */

.views,
.gallery,
.appointment-form {
    margin-bottom:100px;
}

.views{
    text-align: center;
    width:90%;
}
.views i{
    font-size:3rem;
    color:var(--color2);
}
.views h3{
    font-size:4rem;
    font-weight:700;
    color: var(--color1);
}

/* GALLERY */
.gallery img{
    border-radius:1rem;
}
.gallery img:hover{
    transform: scale(1.3);
    transition:1s;
}
.gallery div[class^="col"] {
    overflow: hidden;
}

/* Appointment Form */
.appointment-form {
    background-color: var(--color3);
    padding:3rem;
}
.appointment-form h3{
text-align: center;
margin-bottom:2rem;
}

/* Footer */
footer{
    background-color: var(--color1);
    padding:3rem;
}
footer ul {
    list-style:none;
}
footer .contact li{
    margin-bottom:1rem;
}
footer a{
    text-decoration: none;
    color:var(--color3);
}
footer a:hover{
    color:var(--color4);
}

footer .row div[class^="col"]:nth-child(2) {
    display:flex;
    justify-content: center;
}
footer .contact i{
    color:var(--color4);
}